.container{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.select{
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.select:focus{
  outline: none;
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.button,
.addButton {
  margin-top: 15px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.add{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: max-content;
  left: 0;
  top: 50px;

}

.input{
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder{
  color: #b3b3b1;
}

.textArea {
  width: 100%;
}

.publish{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1000;
}

.imageContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.image{
  border-radius: 10px;
}

.loadingImage{
  height: 90vh;
  width: 90vw;
  z-index: 500;
  opacity: 0.8;
  position: absolute;

}
.loading{
position: absolute;
top: 50%;
left: 50%;
}

.featureLabel {
  display: flex;
  margin-bottom: 40px;
}

.featured {
  
  width: 50px;
}

.featureText{
  font-weight: 800;
  font-style: italic;
}
.plus{
  width: 45px;
  height: 45px;
}